@using OdetoFood.Data.Models
@model IEnumerable<Restaurant>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>
<div>
    @DateTime.Now.Year @Model.Count()
</div>

<div>
    <ol>
        This is my Restaurant List:
        @foreach (var restaurant in Model)
        {
            <li>
                 Name: @restaurant.Name <span>*</span> Cuisine Type: @restaurant.Cuisine
            </li>
        }


    </ol>
</div>